body {
  margin:0;
  font-family: Arial;
  background:#ffffff;
  color:#111;
}
.navbar {
  display:flex;
  justify-content:space-between;
  padding:15px 30px;
  background:#d90429;
  color:white;
}
.logo {
  display:flex;
  align-items:center;
  gap:10px;
}
.logo img { width:40px; }
nav a {
  margin-left:20px;
  color:white;
  text-decoration:none;
}
.hero {
  padding:40px;
}
.section {
  padding:20px 40px;
}
