body {
  margin:0;
  font-family: Arial;
  background:#0b1220;
  color:white;
}
.navbar {
  display:flex;
  justify-content:space-between;
  padding:15px 30px;
  background:linear-gradient(90deg,#d90429,#1d3557);
}
.logo {
  display:flex;
  align-items:center;
  gap:10px;
}
.logo img {
  width:40px;
}
nav a {
  margin-left:20px;
  color:white;
  text-decoration:none;
}
.hero {
  padding:40px;
}
.grid {
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  gap:20px;
  padding:20px;
}
.card {
  background:#1c2541;
  padding:20px;
  border-radius:10px;
}
